.checkoutWrapper {
  margin-top: 90px;
  overflow: hidden;
  width: 100%;

  .emptyIcon {
    display: flex;
    padding-top: 80px;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
  }

  .checkoutHeader {
    width: 100%;
    background: $lightGrey;
    padding: 60px 15% 60px 15%;
    font-size: 25px;
  }

  .checkoutInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 0;
    position: relative;
    background: $lightGrey;
    min-height: 500px;
    margin-top: 10px;

    @media (min-width: $screen-xl) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      max-width: 70%;
      margin: 100px auto;
    }

    @media (min-width: $screen-xl) {
      max-width: 70%;
      margin: 100px auto;
    }

    .checkoutProductList {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @media (min-width: $screen-xl) {
        align-items: flex-end;
        max-width: 50%;
        margin: 5px 10px 0 10px;
      }

      .product {
        display: flex;
        flex-direction: row;
        padding: 10px;
        background: white;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        position: relative;

        @media (min-width: $screen-sm) {
          max-width: 500px;
        }

        .productImgCart {
          max-height: 148px;
        }

        .priceFinal {
          font-weight: bold;
          margin: 5px 20px 0 10px;
        }

        .deleteProduct {
          display: flex;
          justify-content: center;
          margin-left: 10px;
          align-items: center;
          background: white;
          cursor: pointer;
          width: 24px;
          padding: 7px;
          height: auto;
          border: none;

          .icon {
            max-width: 12px;
          }
        }

        .productDetails {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: 5px 10px 5px 10px;
          flex-direction: column;
          height: 80px;
          width: 100%;

          .productName {
            font-weight: bold;
          }

          .productPrice {
            font-size: 14px;
            padding: 5px;
          }
        }
      }

    }

    .paymentFinal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: content-box;
      margin: 10px 0 5px 0;
      width: 100%;

      @media (min-width: $screen-sm) {
        max-width: 500px;
      }

      @media (min-width: $screen-xl) {
        max-width: 100%;
        align-items: flex-start;
        margin: 10px 10px 0 10px;
      }

      p:first-child {
        font-weight: bold;
      }

      @media (min-width: $screen-xl) {
        .delivery, .total {
          max-width: 500px;
        }
      }


      .delivery {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        margin: 5px 0 5px 0;
        padding: 19px;
        background: white;
        position: relative;


        @media (min-width: $screen-xl) {
          margin: 5px 0 10px 0;
        }

        p {
          font-size: 15px;
          margin-left: 70px;
        }

        .iconHeader {
          font-weight: bold;
        }

        .iconSubheader {
          margin-top: 5px;
        }

        .icon {
          position: absolute;
          max-width: 40px;
          left: 25px;
        }

        .shipmentSign {
          max-width: 40px;
          left: 25px;
        }

        .returnSign {
          max-width: 30px;
          left: 35px;
        }
      }


      @media (min-width: $screen-xl) {
        .delivery {
          margin-top: 0;
        }
      }


      .total {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: white;
        overflow: hidden;
        padding: 30px 25px 30px 25px;
        width: 100%;

        .totalHeader {
          font-weight: bold;
          text-transform: uppercase;
        }

        .sub-total {
          margin-top: 20px;
          padding: 20px 0 5px 0;
          border-top: 1px solid lightgrey;
        }

        .delivery-option {
          padding: 5px 0 20px 0;
          border-bottom: 1px solid lightgrey;
        }

        .sub-total, .delivery-option {
          display: flex;
          justify-content: space-between;

          p:first-child {
            text-transform: capitalize;
            font-weight: 600;
          }
        }

        .checkoutBtn {
          background: black;
          color: white;
          cursor: pointer;
          border: 2px solid green;
          margin: 20px 0 20px 0;
          padding: 10px;
        }

        .acceptedPayments {
          font-weight: bold;
        }

        .visa {
          margin-top: 10px;
          width: 100%;
          height: auto;
          max-width: 330px;
        }
      }
    }
  }
}

