.elementsWrapper {
  margin-top: 90px;
  overflow: hidden;
  width: 100%;

  .elementsHeader {
    width: 100%;
    background: $lightGrey;
    padding: 60px 15% 60px 15%;
    font-size: 25px;
  }

  .perksSection {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 90vw;
    padding-top: 70px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $screen-md) {
      flex-direction: row;
      max-width: 70vw;
    }

    .flexItem {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
      flex: 1 1 0;
      padding: 0;
    }

    .perkHeader {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      font-family: sans-serif;
      text-transform: capitalize;

      @media (min-width: $screen-xxl) {
        font-size: 25px;
        line-height: 40px;
      }
    }

    .perksList {
      //display: none;
      margin-left: 35px;
      @media (min-width: $screen-xxl) {
        display: flex;
        margin-left: 100px;
      }

      .perk {
        position: relative;
        line-height: 20px;
        font-size: 14px;

        @media (min-width: $screen-xxl) {
          line-height: 30px;
          font-size: 16px;
        }

        &:before {
          background-image: url(../components/images/checked.png);
          content: " ";
          position: absolute;
          left: -23px;
          top: 5px;
          height: 10px;
          width: 13px;
          display: block;
          background-size: cover;

          @media (min-width: $screen-xxl) {
            top: 9px;
          }
        }
      }
    }
  }

  .elementsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    max-width: 100vw;
    margin: 0 auto;
    width: 100%;
    @media (min-width: $screen-md) {
      max-width: 70vw;
    }

    .element {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      background-position: center;
      background-repeat: no-repeat;
      height: calc(0.19 * 100vw);
      background-size: cover;
      transition: .3s all ease-in-out;
      text-transform: uppercase;
      cursor: crosshair;
      position: relative;
      overflow: hidden;
      margin: 5px;
      width: 100%;

      @media (min-width: $screen-md) {
        margin: 10px;
      }

      .textWrapper {
        width: 100%;
        padding: 10px 0 20px 10px;
        background: rgba(255, 255, 255, 0.5);

        .elementHeader {
          padding: 10px 0 10px 0;
          font-size: 3vw;
          opacity: 0;

          @media (min-width: $screen-md) {
            font-size: 25px;
          }
        }

        .elementSubheader {
          font-size: 2vw;
          opacity: 0;

          @media (min-width: $screen-md) {
            font-size: 18px;
          }
        }
      }

      &:hover {
        transform: scale(1.05);

        .textWrapper {
          background: rgba(255, 255, 255, 0.75);
        }

        .elementHeader, .elementSubheader {
          transition: .6s all ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}