.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.3s all;
  top: 0;

  background: transparent;

  &.scroll {
    border-bottom: 1px solid #e3e4e8;
    transition: 0.3s all;
    background: white;
    opacity: 0.95;
    height: 80px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 100%;

    .logo {
      margin-right: 300px;
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .navItem {
        cursor: pointer;
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 0.6px;
        margin: 0 25px 0 25px;
        position: relative;
        color: #707175;
        text-decoration: none;

        &:hover, &.active {
          color: black;

          &:after {
            position: absolute;
            content: '';
            width: 120%;
            height: 10px;
            bottom: 0;
            left: -10%;
            z-index: -1;
            background: #ffdd7a;
          }
        }
      }
    }

    .cartNavDetails {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        &:after {
          display: none;
        }
      }

      .cartIcon {
        cursor: pointer;
        max-height: 25px;
      }

      .quantity {
        background: #ffdd7a;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        position: relative;
        border-radius: 50%;
        color: black;
        font-weight: bold;
        font-size: 12px;
        width: 10px;
        height: 10px;
        z-index: -1;
        top: -9px;
        left: -7px;

      }
    }


    .cartWrapper {
      width: 100vw;
      z-index: 9999;
      height: 200vh;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}




