.popupWrapper {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: absolute;
  border: 2px solid black;
  overflow: hidden;
  max-width: 90%;

  @media (min-width: $screen-md) {
    justify-content: center;
    flex-direction: row;
    height: 500px;
    width: 700px;
    top: 20%;
  }

  @media (min-width: $screen-lg) {
    width: 800px;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: $lightGrey;
    @media (min-width: $screen-md) {
      max-width: 400px;
      height: 100%;
      width: 100%;
    }

    .imgPopup {
      width: 40vw;
      height: auto;

      @media (min-width: $screen-md) {
        height: auto;
        max-width: 400px;
        width: 100%;
      }
    }
  }

  .productDetails {
    font-size: 4.5vw;
    box-sizing: border-box;
    padding: 10vw 4vw 15vw 4vw;
    width: 100%;
    @media (min-width: $screen-xs) {
      padding: 50px 20px 90px 20px;
    }

    .productName {
      font-size: 3.5vw;
      font-weight: bold;

      @media (min-width: $screen-sm) {
        font-size: 3.5vw;
      }

      @media (min-width: $screen-md) {
        font-size: 30px;
      }
    }

    .productPrice {
      font-size: 3.5vw;
      font-weight: bold;
      color: grey;

      @media (min-width: $screen-sm) {
        font-size: 2.5vw;
      }
      @media (min-width: $screen-md) {
        font-size: 30px;
      }
    }

    .productCategory {
      font-size: 3.5vw;
      font-weight: bold;
      padding: 20px 0 20px 0;

      @media (min-width: $screen-sm) {
        font-size: 2.5vw;
      }
      @media (min-width: $screen-md) {
        font-size: 16px;
      }
    }

    .productDescription {
      font-size: 3.5vw;
      padding: 2vw 0 2vw 0;
      border-top: 1px solid black;
      color: black;
      text-align: justify;

      @media (min-width: $screen-sm) {
        font-size: 2.5vw;
      }
      @media (min-width: $screen-md) {
        font-size: 16px;
        padding: 30px 0 30px 0;
      }
    }

    .addToCart {
      cursor: pointer;
      background: $yellow;
      color: black;
      border: none;
      font-weight: bold;
      position: absolute;
      padding: 2vw 3vw 2vw 3vw;
      transition: padding 0.5s;
      font-size: 3.5vw;

      @media (min-width: $screen-sm) {
        font-size: 2.5vw;
      }
      @media (min-width: $screen-md) {
        font-size: 14px;
        padding: 10px 25px 10px 10px;
      }


      &.added {
        background: lightgreen;
        padding-right: 60px;

        &:after {
          content: '';
          display: inline-block;
          transform: rotate(45deg);
          height: 9px;
          width: 5px;
          border-bottom: 4px solid $checked;
          border-right: 4px solid $checked;
          left: 85%;
          position: absolute;
          top: calc(50% - 10px);
        }
      }
    }
  }

  .closePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightGrey;
    width: 22px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 4px 20px 4px 20px;
    outline: none;
  }
}