.slideWrapper {
  height: 100vh;
  background: $lightGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  @keyframes arrow {
    0% {
      opacity: 0
    }
    40% {
      opacity: 1
    }
    80% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }

  .arrows {
    width: 30px;
    height: 42px;
    position: absolute;
    left: calc(50% - 12px);
    //left: calc(50% - 5px);
    bottom: 10px;

    path {
      stroke: black;
      fill: transparent;
      stroke-width: 1px;
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite;
    }

    path.a1 {
      animation-delay: -1s;
    }

    path.a2 {
      animation-delay: -0.5s;
    }
  }

  .slide {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1400px;


    .slideText, .currentSlide {
      @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
      font-family: 'Nothing You Could Do', cursive;
      position: absolute;
      color: black;
    }

    .slideText {
      width: 300px;
      align-items: center;
      right: calc(50% - 150px);
      bottom: 18%;
      font-size: 24px;
      text-align: center;
      font-weight: bold;

      @media (min-width: $screen-lg) {
        top: 42%;
        left: 60%;
        max-width: 270px;
        text-align: left;
        bottom: 20%;
      }
    }

    .currentSlide {
      display: none;
      font-size: 20px;
      top: 85%;
      left: 78%;
      @media (min-width: $screen-lg) {
        display: flex;
      }
    }
  }


  .slide:nth-of-type(1) {
    background-size: calc(300px + 55vw);
    background-position: 35% 0;

    @media (min-width: $screen-lg) {
      background-size: 90vh;
    }

  }

  .slide:nth-of-type(2) {
    background-position: 50% 0;
    background-size: calc(120px + 45vw);

    @media (min-width: $screen-lg) {
      background-position: 25% 0;
      background-size: 70vh;
    }
  }

  .slide:nth-of-type(3) {
    background-size: calc(100px + 45vw);
    background-position: 68% 52%;
    @media (min-width: $screen-lg) {
      background-position: 35% 50%;
      background-size: 60vh;
    }
  }


  .arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 35px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-position: center;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    @media (min-width: $screen-lg) {
      background-size: 24px 24px;
    }
  }

  .right-arrow {
    right: 2%;
    background-image: url(https://image.flaticon.com/icons/svg/271/271228.svg);
    @media (min-width: $screen-lg) {
      right: 10%;
    }
  }

  .left-arrow {
    left: 2%;
    background-image: url(https://image.flaticon.com/icons/svg/271/271220.svg);
    @media (min-width: $screen-lg) {
      left: 10%;
    }
  }


  .slide {
    opacity: 0;
    transform-origin: top;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}